export(summary_stats)
export(frequency_table)
export(correlation_matrix)
export(proportion_test)
export(normality_check)
export(outlier_detection)
export(two_sample_ttest)
export(chi_square_test)
export(simple_linear_regression)
export(simple_logistic_regression)
export(pairwise_comparisons)